* {
    margin: 0;
}
body {
    font-family: sans-serif;
    font-size: 15px;
}
#wrapper {
    max-width: 1400px;
    margin: 50px auto;
    width: 100%;
}
.title {
    font-size: 2em;
    margin-bottom: 50px;
}

/* IMG */

img.img__item {
    width: 200px;
    position: absolute;
    top: 50%;
    left: 0;
}

/* Container */

.container {
    max-width: 1400px;
    width: 90%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-gap: 50px;
    margin-bottom: 50px;
}

/* BOX */

.img__box {
    background: rgb(51, 68, 221);
    border-radius: 10%;
    height: 160px;
    position: relative;
}
