* {
    margin: 0;
}
body {
    font-family: sans-serif;
    font-size: 15px;
}
#wrapper {
    max-width: 1400px;
    margin: 50px auto;
    width: 90%;
}
.title {
    font-size: 2em;
    margin-bottom: 50px;
}

/* IMG */

img.img__item {
    width: 200px;
    height: 80%;
}

/* Container */

.container {
    max-width: 1400px;
    width: 90%;
    margin: 0 auto;
    display: grid;
    grid-gap: 50px;
    margin-bottom: 50px;
    justify-content: center;
}
/* BOX */
.img__title {
    
    bottom: 0;
    text-align: center;
    left: 30%;
}

.img__box {
    background: linear-gradient(#6ba2d8 80%, #faf7ff 20%);
    border-radius: 5%;
    box-shadow: 0px 0px 10px #dddcdc;
    height: 133px;
    position: relative;
    width: 200px;
}

@media screen and (max-width: 414px) {
    .container {
    grid-template-columns:  50%;
    }
}
    
@media screen and (min-width: 768px) {
    .container {
    grid-template-columns: repeat(3, 1fr);
    }
}
    
@media screen and (min-width: 1024px) {
    .container {
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    }
}

@media screen and (max-width: 414px) {
    .title {
    text-align: center;
    }
}
